// Place all the styles related to the clicks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#top_10 {

  font-size: 16;
  margin: 30px auto;
  width: 400px;
}

.top_click {
  /*text-align: center;*/
  margin: 10px auto;
  list-style-type: none;
}