// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  background-color: #D0C7BA;
  border-radius: 7px;
}

h1 {
  text-align: center;
}

table {
  margin: 15px;
}


.game_tile {
  background-color: #878179;
  color: #ffffff;
  text-align: center;
  width: 129px;
  height: 63px;
  padding: 10px;
  margin: 5px;
  font-size: 14;
  border-radius: 10px;
  /*border: 1px solid #5D3430;  */
}

body {
   background:#D4D8D1 !important;
}

#done {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
